<!DOCTYPE  html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<link 
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/> 
		<link rel="shortcut icon" href="favicon.png" />
		<link rel="stylesheet" href="/static/styles.css" />
		<title>芄樂花境🌱</title>
	</head>	
	<body>
		<div class="top">
			<h1>芄樂花境 Shu🌱</h1>
			<h2>2021七夕情人節花禮 Chinese Valentine’s Day </h2>
		</div>
		<main class="main">
			<img class="only"
				 src="/static/3.jpg"
			 	 width="300" height="300"
			 	 alt="獨一無二">
			<img class="only"
				 src="/static/4.jpg"
			 	 width="300" height="300"
			 	 alt="獨一無二2">
			<h1 class="title1">『獨一無二的你』-NT 690元</h1>
			<h2 class="title1">特別的心意，給特別的人<br/>客製小花束<br/>
				可選2種顏色玫瑰(深紅or粉紅or粉橘)<br/>再由我們為您搭配2種配花及2種配葉</h2>

			<p class="link">訂購連結➡️
				<a href="https://www.facebook.com/shuloveflowers">
					<img src="/static/facebook.png"
						 width="60" height="60">
				</a>
				<a href="https://www.instagram.com/shuloveflowers/">
					<img src="/static/instegram.png"
						 width="60" height="60">
				</a>
			</p>
			<p class="back"><a href="index.html">回首頁</a></p>
		</main>
	</body>	
</html>